/* Portfolio.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #e9e9f1;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .portfolio {
    max-width: 2200px; /* Adjusted max-width for wider body */
    width: 100vw; /* Ensures responsiveness and maximum width */
    margin: 2rem auto;
    padding: 1rem;
    background: #fafbfb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 1000px;
  }
  
  .portfolio-header {
    text-align: center;
    border-bottom: 2px solid #e2e2e2;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  
  .portfolio-header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #2c3e50;
  }
  
  .portfolio-header p {
    margin: 0;
    font-size: 1.2rem;
    color: #7f8c8d;
  }
  
  .portfolio-content {
    padding: 1rem 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  section h2 {
    font-size: 1.8rem;
    color: #34495e;
    border-bottom: 2px solid #3498db;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .education-list, .project-list, .skill-list, .experience-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .education-item, .project-item, .skill-item, .experience-item {
    margin-bottom: 1.5rem;
  }
  
  .education-item h3, .project-item h3, .experience-item h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #2980b9;
  }
  
  .education-item p, .project-item p, .experience-item p, .skill-item {
    margin: 0.3rem 0;
    font-size: 1rem;
    color: #7f8c8d;
  }
  
  .project-item a {
    color: #3498db;
    text-decoration: none;
  }
  
  .project-item a:hover {
    text-decoration: underline;
  }
  
  .skill-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skill-item {
    background: #ecf0f1;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 20px;
    color: #2c3e50;
    font-size: 0.9rem;
  }
  
  .contact-links a {
    display: inline-block;
    margin-right: 1rem;
    color: #3498db;
    text-decoration: none;
  }
  
  .contact-links a:hover {
    text-decoration: underline;
  }
  